<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="connString" connectionString="t2a7qFYMiTFXaCiI03F/Ij7zJUENXoz7pFg6fshtNN06+6jH8mlbijcoaTWGFX7rEISJVHyifuo="/>
 
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
